<!DOCTYPE html>
<html>

<head>
    <title>{% block pagetitle %}Stackables{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Stackables</h1>
        <div>
            <h2>Quizzes</h2>
            {% for quiz in quizzes %}
            <div>
                <div>
                    <h4>{{ quiz.name }}</h4>
                </div>
                <div class="m-2 p-3 border border-black d-flex flex-wrap">
                    {% for stack in quiz.getStacks() %}
                        <div class="m-2 p-3 border border-black">
                            <h6>{{ stack.name }}</h6>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ url_for('html_routes.quiz_info', quiz_name=quiz.name)}}">Details</a>
            {% endfor %}
            <a href="{{ url_for('html_routes.make_quiz')}}">Make a quiz</a>
        </div>   

        <div>
            <h2>Collections</h2>
            {% for collection in collections %}
            <div>
                <div>
                    <h4>{{ collection.name }}</h4>
                </div>
                <div class id="stackList"> 
                    {% for stack in collection.stacks %}
                    <a href="{{ url_for('html_routes.cards', collection_name=collection.name, stack_name=stack.name) }}"><div id="stack">
                            <button type="button" class="btn-stack">{{ stack.name }}</button>
                    </a>
                        </div>
                    {% endfor %}
                </div>        
            </div>
            {% endfor %}    
        </div>


    </div>
    <script >
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
            }
    });
    }
     </script>
</body>

</html>